<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<ul  th:replace = "header :: navigation" ></ul>
		<h2>TONG TIEN: <span th:text="${session.giohang.total}"></span></h2>
	<table border="1">
		<thead>
			<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price</th>
					<th>Subtotal</th>
					<th>Remove</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${session.giohang.items}">
				<td th:text="${item.product.id}"></td>
				<td th:text="${item.product.name}"></td>
				<td>Rs. <span th:text="${item.product.price}" ></span> </td>
				<td>
					<form action="" th:action="${/cart/update}" method="post" >
						<input type="hidden" th:value="${item.product.id}" name="id"/>
						<input type="number" min="1" th:value="${item.quantity}" name="qty"/>
						<button type="submit" >Update</button>
					</form>
				</td>
				
				<td>Rs. <span th:text="${item.subtotal}" ></span> </td>
				<td>
					<form action="#" th:action="${/cart/remove}" method="post" >
						<input type="hidden" th:value="${item.product.id}" name="id"/>
						<button type="submit" >Remove</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>