<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SHOP page</title>
</head>
<body>
	<ul  th:replace = "header :: navigation" ></ul>
	<table border="1">
		<thead>
			<tr>
					<th>ID</th>
					<th>Name</th>
					<th>SKU</th>
					<th>Price</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td>
					<a th:href="@{product/{id}(id=${product.id})}" th:text="${product.name}"></a>
				</td>
				<td th:text="${product.sku}"></td>
				<td th:text="${product.price}"></td>
				<td>
					<form action="#" th:action="@{/cart/add}" method="post">
						<input type="hidden" th:value="${product.id}" name="id"/>
						<button type="submit">Add to cart</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>